<table border="1">
    <tr>
        <td>Passager</td>
        <td>nom_prenom</td>
        <td>nbe_bagage</td>
        <td>totale_frais</td>
        <td> action</td>
        <td> image</td>
    </tr>
    {% for entity in ens %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nomPrenom }}</td>
            <td>{{ entity.nbeBagage }}</td>
            <td>{{ entity.totalFrais }}</td>
            <td><img src="{{ asset('uploads/images/' ~entity.image ) }}"></td>
             <td> <a href ="{{ path('ajoutebagege',{'id' :  entity.id}) }}">ajoute bagage</a></td>
        </tr>
    {% endfor %}
</table>